body {
  background-color: #fff;
}

.dark {
  background-color: rgb(63, 62, 62);
}
.site-header{
  background-image: url('../img/Triangle.svg');
  background-repeat: no-repeat;
  background-size: 1440px 160px;
  background-position: center top;
  padding-top: 44px;
  padding-bottom: 30px;

}
.bg-color{
  width: 48px;
  height: 24px;
  border: none;
  padding: 0;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 5px;
  outline: none;
  transition: 1s  ease all;
}
.bg-color:focus{
  outline: none;
}
.bg-color__span{
  width: 14px;
  height: 14px;
  background: #5964E0;
  border-radius: 50%;
  transition: 0.5s  ease all;
}
.body-color{
  background-color: rgba(18, 23, 33);
  color: #fff;
}
.body-color .modal-content{
  background-color: rgba(18, 23, 33);
  color: #fff;
}
.mar-span{
  margin-left: 25px;
}

.poster-item {
  width: 240px;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.poster-item:hover {
  box-shadow: rgba(49, 81, 167, 0.1) 0px 14px 12px;
  transform: scale(1.2);
}

.poster-item-time {
  white-space: nowrap;
}

.poster-hours-ago {
  white-space: nowrap;
}

.poster-hour {
  display: flex;
}

.header-form__technology-input {
  width: 150px;
}
.header-form__region-select {
  width: 150px;
}
.header-form__work-hours-select {
  width: 150px;
}
.header-form__salary-input {
  width: 150px;
}

@media only screen and (max-width: 991px) {
  .poster-item {
    width: 313px;
  }
}
@media only screen and (max-width: 780px) {
  .poster-item {
    max-width: 240px;
  }
  .poster-item:nth-child(even) {
    margin-right: 0;
  }
  .poster-hours-ago {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
 /* .form-group {
   /* width: 350px; */
   flex-wrap: wrap;
   justify-content: center;
   /* margin-left: auto;
   margin-right: auto; */
 } */
}
@media only screen and (max-width: 573px) {
  .poster-item {
    max-width: 200px;
  }
  .poster-hour {
    display: block;
  }
}
@media only screen and (max-width: 493px) {
  .results-list {
    justify-content: center;
  }

  .poster-item {
    max-width: 330px;
    margin: 0;
  }
  .poster-hour {
    display: flex;
  }
}
@media only screen and (max-width: 343px) {
  .poster-item {
    max-width: 300px;
    margin: 0;
  }
}